.banner{
   background-image:url('img/mainbanner.jpg');
   background-position-x: -45px;
   background-attachment: fixed;
   text-align: center;
   border-radius:20px;
   display:block;
   min-width:100%;
   border: black solid 2px;
   border-bottom-right-radius:600px;
   border-bottom-left-radius:600px;
   box-shadow: black 10px 10px 20px;

}
#select{
    display:block;
}
#logo{
    width: auto;
    max-width: 15%;
}
body{
    font-family: "Arial", Times, serif;
}
.bannertext{
    font-size: 2.3em;
    color: white;
    text-shadow: black 0px 1px 30px;
}
#student{
    position:relative;
    border :black solid;
    width: 48.5vw;
    height:50vh;
    display: inline-block;
    float:left;
    background-image:url('img/banner.jpg'); 
    border-radius:10px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: black 10px 10px 20px;
}
#admin{
    position:relative;
    border:black solid;
    width: 48vw;
    height:50vh;
    display:inline-block;
    float:right;
    background-image:url('img/adminbanner.jpg'); 
    border-radius:10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: black 10px 10px 20px;
}
#message{
    color:#083854;
    font-weight:bold;
    font-size:1.2em;
    background-color:#D6ED11;
    border-radius:10px;
    padding:20px;
    display:inline-block;
    width:60vw;
    box-shadow: black 10px 10px 20px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
}
#std_img{
    width:auto;
    max-width: 55%;
    position: absolute;
    top:60px;
    right:0px;
}
#admin_img{
    width:auto;
    max-width: 55%;
    position: absolute;
    top:70px;
}
.panel{
    display: inline-block;
    z-index: 999;
    position:relative;
    top:125px;
    padding:10px;
    padding-left: 50px;
    padding-right: 50px;
    color:#083854;
    background-color:#D6ED11;
    border-radius:50px;
    box-shadow: black 20px 20px 30px;
}
.panel:hover{
    background:#ff1aff; 
}
.wrap{
    text-align:center;
}